{% extends 'base.html' %}

{% block title %}Add Patient{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-lg-8">

        <div class="card shadow border-0 rounded-4">

            <div class="card-header bg-success text-white">
                <h3 class="mb-0">
                    <i class="bi bi-person-plus-fill"></i>
                    Add New Patient
                </h3>
            </div>

            <div class="card-body">

                <form method="POST">
                    {% csrf_token %}

                    <div class="patient-form">

                        {{ form.as_p }}

                    </div>

                    <div class="mt-4">

                        <button class="btn btn-success">
                            <i class="bi bi-check-circle"></i>
                            Save Patient
                        </button>

                        <a href="{% url 'patients' %}" class="btn btn-secondary">
                            Back
                        </a>

                    </div>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}